---
---
@import 'twenty';
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Lato:300,400,900");

#logo {
	height: 35px;
	text-align: center;

	a {
		position: relative;
		top: -15px;
		font-size: 26px;
		img {
			vertical-align: middle;
		}
	}
}

#banner {
	.buttons a {
		.icon {
			top: 2px;
			&.fa-phone {
				font-size: 20px;
			}
			&.fa-mobile {
				font-size: 22px;
			}
		}
	}
}

.text-center {
	text-align: center;
}