<!-- Banner -->
<section id="banner">

  <!--
    ".inner" is set up as an inline-block so it automatically expands
    in both directions to fit whatever's inside it. This means it won't
    automatically wrap lines, so be sure to use line breaks where
    appropriate (<br />).
  -->
  <div class="inner">

    <header>
      <h2>
        <img src="/images/logo-lg-inverse.png"/>
      </h2>
    </header>
    <p>TEMİZ HALILAR, SAĞLIKLI YUVALAR İÇİN
      <br />
      BİZİ ARAYIN
      <footer>
        <ul class="buttons vertical">
          <li>
            <a href="tel:05327660715" class="button fit">
              <i class="icon fa fa-mobile"></i>
              0532 766 07 15
            </a>
          </li>
        </ul>
      </footer>

    </div>

</section>
